.tile 
{
    display:grid; 
    place-content: center;
    width: 90px;
    height: 90px;

}

.black-tile 
{
    background-color: #779556 ;
}

.white-tile 
{
    background-color: #ebecd0;
    
}

img
{
    width: 70px;
}

.chessPiece 
{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.chessPiece:hover{
    cursor: grab; 
}

.chessPiece:active{
    cursor:grabbing; 
}